# Visualisation TSV

In [1]:
import pandas as pd

In [2]:
with open('./visualisation_data_with_clusters.tsv') as myfile:
    mydata = (line.replace('\n', '').split('\t') for line in myfile)
    header = next(mydata)
    df = pd.DataFrame(mydata, columns=header)

In [3]:
df.head()

,index,id,x,y,type,hdbscan_clusters_min_size_500,collection_category,hdbscan_clusters_min_size_200,label
0,0,https://collection.sciencemuseumgroup.org.uk/p...,4.982193,4.177696,Person,182,Person,467,
1,1,http://www.wikidata.org/entity/Q3568968,5.086479,4.0848007,Wikidata,182,Wikidata,467,William Stanley
2,2,https://collection.sciencemuseumgroup.org.uk/o...,-9.554541,-5.4502754,Object,148,Category - Therapeutics,379,"Hypodermic needle, Luer No.26 G, in sealed pac..."
3,4,https://collection.sciencemuseumgroup.org.uk/p...,2.950962,4.0176353,Organisation,-1,Organisation,-1,The Cunard Line
4,5,https://collection.sciencemuseumgroup.org.uk/o...,0.13740158,-3.9452362,Object,142,Category - Water Transport,343,Rigged model of the PS 'Scotia'

In [4]:
def get_coords(df, label):
    return df[df['label'].str.lower().str.startswith(label, na=False)][['label', 'x', 'y']].sort_values(by=['label'])

In [5]:
get_coords(df, 'joy division')

,label,x,y
4359,Joy Division,9.746464,1.5093346
9159,Joy Division,8.942377,1.3183756
146784,Joy Division,9.958771,1.6039429
24238,Joy Division - Atmosphere,20.573837,-8.033331
34840,Joy Division - Les Bains Douches,20.556759,-8.021671
36319,Joy Division - Out of the Room: Cover Versions...,20.576313,-8.035895
395750,Joy Division - Peel Sessions,20.579567,-8.039522
229497,Joy Division - Preston 28 February 1980,20.57592,-8.040907
299721,Joy Division In Memory,20.583307,-8.035173
248369,Joy Division film,20.589626,-8.039698
50255,Joy Division live at the Moonlight Club,20.584984,-8.036664
345417,Joy Division song lyrics,20.588428,-8.032189
391663,Joy Division: Piece by Piece,20.593618,-8.027044

In [6]:
get_coords(df, 'michael bonavia')

                 label            x          y
12738  Michael Bonavia  -0.24736404  3.7388315

In [7]:
get_coords(df, 'berkeley berry')

                       label          x         y
374372  Berkeley Berry Birch  -1.920825  8.793388